{% load static %}
<section id="mu-gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-gallery-area">

            <div class="mu-title">
              <span class="mu-subtitle">Discover</span>
              <h2>Our Gallery</h2>
            </div>

            <div class="mu-gallery-content">
            
              <!-- Start gallery image -->
              <div class="mu-gallery-body">
                

                <!-- start single gallery image -->
                {% for product_image in product_images %}
                <div class="mu-single-gallery col-md-4">                  
                  	<div class="mu-single-gallery-item">
                      <figure class="mu-single-gallery-img">
                        <a class="mu-imglink" href="{{product_image.image.url}}">
                          <img alt="img" src="{{product_image.image.url}}">
                           <div class="mu-single-gallery-info">
                              <img class="mu-view-btn" src="{% static 'img/plus.png' %}" alt="plus icon img">
                          </div> 
                        </a>
                      </figure>            
                    </div>
                </div>
                {% endfor %}
                <!-- End single gallery image -->
                           
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  