{% load static %}
<section id="mu-restaurant-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-restaurant-menu-area">

            <div class="mu-title">
              <span class="mu-subtitle">Discover</span>
              <h2>OUR PRODUCTS</h2>
            </div>
            
            <div class="mu-restaurant-menu-content">
              <ul class="nav nav-tabs mu-restaurant-menu">
                <li class="active"><a href="#insecticides" data-toggle="tab">Insecticides</a></li>
                <li><a href="#fungicides" data-toggle="tab">Fungicides</a></li>
                <li><a href="#herbicides" data-toggle="tab">Herbicides</a></li>
                <li><a href="#fertilizers" data-toggle="tab">Fertilizers</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="insecticides">
                  <div class="mu-tab-content-area">
                    <div class="row">
                      
                      <div class="col-md-6">
                        <div class="mu-tab-content-left">
                          <ul class="mu-menu-item-nav">

                            {% for product in insecticides  %}
                            <li>
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="{% static  'img/menu/item-1.jpg' %}" alt="img">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading"><a href="#">{{product.name}}</a></h4>
                                  <span class="mu-menu-price">{{product.price}}</span>
                                  <p>{{product.preview_text}}.</p>
                                </div>
                              </div>
                            </li>
                            {% endfor  %}
                          </ul>   
                        </div>
                      </div>

                    
                   </div>
                 </div>
                </div>

                <div class="tab-pane fade" id="fungicides">
                  <div class="mu-tab-content-area">
                    <div class="row">

                      <div class="col-md-6">
                        <div class="mu-tab-content-left">
                          <ul class="mu-menu-item-nav">
                            {% for product in fungicides  %}
                             <li>
                              <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                    <img class="media-object" src="{% static  'img/menu/item-3.jpg' %}" alt="img">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading"><a href="#">{{ product.name}}</a></h4>
                                  <span class="mu-menu-price">{{product.price}}</span>
                                  <p>{{product.preview_text}}.</p>
                                </div>
                              </div>
                            </li>
                            {% endfor %}
                          </ul>   
                        </div>
                      </div>

                  </div>
                 </div>
                </div>
                
                <div class="tab-pane fade" id="fertilizers">
                  <div class="mu-tab-content-area">
                    <div class="row">

                      <div class="col-md-6">
                        <div class="mu-tab-content-left">
                          <ul class="mu-menu-item-nav">
                            {% for product in fungicides  %}
                            <li>
                             <div class="media">
                               <div class="media-left">
                                 <a href="#">
                                   <img class="media-object" src="{% static  'img/menu/item-3.jpg' %}" alt="img">
                                 </a>
                               </div>
                               <div class="media-body">
                                 <h4 class="media-heading"><a href="#">{{ product.name}}</a></h4>
                                 <span class="mu-menu-price">{{product.price}}</span>
                                 <p>{{product.preview_text}}.</p>
                               </div>
                             </div>
                           </li>
                           {% endfor %}
                                                        
                          </ul>   
                        </div>
                      </div>

                    </div>
                 </div>
                </div>

                <div class="tab-pane fade" id="herbicides">
                  <div class="mu-tab-content-area">
                    <div class="row">

                      <div class="col-md-6">
                        <div class="mu-tab-content-left">
                          <ul class="mu-menu-item-nav">
                            {% for product in fungicides  %}
                            <li>
                             <div class="media">
                               <div class="media-left">
                                 <a href="#">
                                   <img class="media-object" src="{% static  'img/menu/item-3.jpg' %}" alt="img">
                                 </a>
                               </div>
                               <div class="media-body">
                                 <h4 class="media-heading"><a href="#">{{ product.name}}</a></h4>
                                 <span class="mu-menu-price">{{product.price}}</span>
                                 <p>{{product.preview_text}}.</p>
                               </div>
                             </div>
                           </li>
                           {% endfor %}   
                             
                         
                          </ul>   
                        </div>
                      </div>

              
                   </div>
                 </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>