{% load static %}
  <!-- Start slider  -->
  <section id="mu-slider">
    <div class="mu-slider-area"> 

      <!-- Top slider -->
      <div class="mu-top-slider">

        <!-- Top slider single slide -->
        <div class="mu-top-slider-single">
          <img src="{% static  'img/slider/1.png' %}" alt="img">
          <!-- Top slider content -->
          <div class="mu-top-slider-content">
            <span class="mu-slider-small-title">Welcome</span>
            <h2 class="mu-slider-title">To EABCL</h2>       
            
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->    

         <!-- Top slider single slide -->
        <div class="mu-top-slider-single">
          <img src="{% static  'img/slider/2.png' %}" alt="img">
          <!-- Top slider content -->
          <div class="mu-top-slider-content">
            <span class="mu-slider-small-title">The Elegant</span>
            <h2 class="mu-slider-title">EABCL Mission</h2>
            <p>To provide high quality agri input products and technical services at an
              affordable price and timely deliverance.</p>           
           <a href="#mu-reservation" class="mu-readmore-btn mu-reservation-btn">BOOK PRODUCTS</a>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide --> 

        <!-- Top slider single slide -->
        <div class="mu-top-slider-single">
          <img src="{% static 'img/slider/3.png' %}" alt="img">
          <!-- Top slider content -->
          <div class="mu-top-slider-content">
            <span class="mu-slider-small-title">EABCL</span>
            <h2 class="mu-slider-title">Vision</h2>
            <p>To be a leader in Agri input market with innovative products that enhance
              crop productivity, add value to human life and build a relationship
              “Beyond Business” with our Business partners.</p>           
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide --> 
                <!-- Top slider single slide -->
                
                <div class="mu-top-slider-single">
                  <img src="{% static 'img/slider/4.png' %}" alt="img">
                  <!-- Top slider content -->
                  <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">EABCL</span>
                    <h2 class="mu-slider-title">Core Values</h2>
                    <p>Ethical, Quality, Uniqueness, Innovativeness, Partnership</p>           
        </div>  
      </div>
    </div>
  </section>
  <!-- End slider  -->
