{% load static %}
<section id="mu-">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-chef-area">

            <div class="mu-title">
              <span class="mu-subtitle">Team</span>
              <h2>Head Office Staff</h2>
            </div>

            <div class="mu-chef-content">
              <ul class="mu-chef-nav">
                <li>
                  <div class="mu-single-chef">
                    <figure class="mu-single-chef-img">
                      <img src="{% static 'img/chef/chef-1.jpg' %}" alt="chef img">
                    </figure>
                    <div class="mu-single-chef-info">
                      <h4>Dr. Kumar Santosh</h4>
                      <span>Director</span>
                    </div>
                    <div class="mu-single-chef-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="mu-single-chef">
                    <figure class="mu-single-chef-img">
                      <img src="{% static 'img/chef/chef-2.jpg' %}" alt="chef img">
                    </figure>
                    <div class="mu-single-chef-info">
                      <h4>Juliana Katuku</h4>
                      <span>Admin</span>
                    </div>
                    <div class="mu-single-chef-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="mu-single-chef">
                    <figure class="mu-single-chef-img">
                      <img src="{% static  'img/chef/chef-3.jpg' %}" alt="chef img">
                    </figure>
                    <div class="mu-single-chef-info">
                      <h4>Eisha M. Langat</h4>
                      <span>Head of Corperate Business</span>
                    </div>
                    <div class="mu-single-chef-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="mu-single-chef">
                    <figure class="mu-single-chef-img">
                      <img src="{% static  'img/chef/chef-4.jpg' %}" alt="chef img">
                    </figure>
                    <div class="mu-single-chef-info">
                      <h4>Amit Sharma</h4>
                      <span>Head of Logistics</span>
                    </div>
                    <div class="mu-single-chef-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>  

                <li>
                  <div class="mu-single-chef">
                    <figure class="mu-single-chef-img">
                      <img src="{% static  'img/chef/chef-5.jpg' %}" alt="chef img">
                    </figure>
                    <div class="mu-single-chef-info">
                      <h4>Ephantus Njoroge</h4>
                      <span>Agronomist  (Nakuru Region) </span>
                    </div>
                    <div class="mu-single-chef-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="mu-single-chef">
                    <figure class="mu-single-chef-img">
                      <img src="{% static 'img/chef/chef-1.jpg' %}" alt="chef img">
                    </figure>
                    <div class="mu-single-chef-info">
                      <h4>Isaac Chumba</h4>
                      <span>Agronomist  (Eldoret Region)</span>
                    </div>
                    <div class="mu-single-chef-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="mu-single-chef">
                    <figure class="mu-single-chef-img">
                      <img src="{% static 'img/chef/chef-2.jpg' %}" alt="chef img">
                    </figure>
                    <div class="mu-single-chef-info">
                      <h4>Titus Ngalana</h4>
                      <span>Agronomist  (Lower Eastern Region)</span>
                    </div>
                    <div class="mu-single-chef-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>
                
                <li>
                  <div class="mu-single-chef">
                    <figure class="mu-single-chef-img">
                      <img src="{% static  'img/chef/chef-3.jpg' %}" alt="chef img">
                    </figure>
                    <div class="mu-single-chef-info">
                      <h4>Patric ...</h4>
                      <span>Agronomist  (Mount Kenya Region)</span>
                    </div>
                    <div class="mu-single-chef-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </li>                      
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>